@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

div#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.create-project {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
}

Button {
  padding: 15px;
  display: inline-block;
  font-size: 16px;
  margin: 5px 10px 5px 10px;
  cursor: pointer;
}

div.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  max-width: inherit;
}

div.left-menu {
  height: 100%;
  width: 100px;
  background-color: rgb(71, 83, 138);
}
button.left-img-buttons {
  width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}
button.keyboard {
  width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

div.working-area {
  display: flex;
  height: 100%;
  background-color: aliceblue;
  flex: 1;
}
div.main-view {
  height: 100%;
  background-color: aliceblue;
  flex: 1;
}
div.grid-view {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: aliceblue;
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

div.label-menu {
  height: 100%;
  flex-basis: 200px;
  background-color: rgb(51, 88, 255);
}

div.img-info {
  width: 120px;
  height: 120px;
  box-sizing: border-box;
}
a.img-name {
  width: 90px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div.ant-breadcrumb {
  height: 5%;
  padding: 3px;
  padding-left: 10px;
  flex-basis: 5%;
}

div.tab-area {
  width: 100%;
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

ul.nav-tabs {
  height: 42px;
  width: 100%;
  max-width: 100%;
  flex-basis: 42px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  border: 0;
}

ul.nav-tabs > li {
  width: 180px;
  float: none;
  display: inline-block;
  overflow-x: scroll;
  white-space: nowrap;
  border-radius: 4px 4px 0 0;
  border: 1px solid #ddd;
  background-color: #c2e2ff;
}

ul.nav-tabs > li:hover,
ul.nav-tabs > li > a:hover,
ul.nav-tabs > li:hover > a {
  background-color: #a4d2fc;
}

ul.nav-tabs > li > a {
  width: 145px;
  color: grey;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0;
  margin: 0;
  border: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: #c2e2ff;
}

ul.nav-tabs > li.active {
  border-bottom: 0;
  background-color: #fff;
}

ul.nav-tabs > li.active > a,
ul.nav-tabs > li.active > a:focus,
ul.nav-tabs > li.active > a:hover {
  color: black;
  background-color: #fff;
  border: 0;
}
button.close {
  margin-left: 0;
  margin-right: 0;
  padding-right: 10px;
}

div.tab-contents {
  flex: 1;
  display: flex;
  border: 0;
  height: 100%;
  background-color: white;
}

div.panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
}

div.canvas-img {
  width: 100%;
  height: 100%;
  padding: 20px;
  flex: 1;
}
div.img-div {
  width: 100%;
  height: 90%;
}

div.label-menu {
  flex-basis: 100px;
  height: 100%;
}

div.bottom-menu {
  width: 50%;
  position: absolute;
  /* z-index: 1; */
  bottom: 10px;
  left: 25%;
  padding: 10px 20px 10px 20px;
  background-color: aliceblue;
  display: grid;
}

Button.bottom-button {
  width: 100px;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
